
/** shop-section **/

.shop-block-one .inner-box{
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 25px 30px 30px 30px;
    transition: all .25s cubic-bezier(.25,.8,.25,1);
}

.shop-block-one .inner-box:hover{
    box-shadow: 0px 10px 50px 0px rgb(0, 0, 0, 0.08);
}

.shop-block-one .inner-box .image-box{
    position: relative;
    display: block;
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
}

.shop-block-one .inner-box .image-box .image{
    position: relative;
    display: block;
    overflow: hidden;
}

.shop-block-one .inner-box .image-box .image img{
    width: 100%;
    transition: all .25s cubic-bezier(.25,.8,.25,1);
}

.shop-block-one .inner-box:hover .image-box .image img{
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.shop-block-one .inner-box .lower-content{
    position: relative;
    display: block;
    padding-top: 30px;
}

.shop-block-one .inner-box .lower-content .rating{
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

.shop-block-one .inner-box .lower-content .rating li{
    font-size: 18px;
    line-height: 20px;
    color: #FAB421;
}

.shop-block-one .inner-box .lower-content h4{
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2px;
}

.shop-block-one .inner-box .lower-content h4 a{
    display: inline-block;
    color: var(--title-color);
}

.shop-block-one .inner-box .lower-content .price{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #555555;
    margin-bottom: 16px;
}

.shop-block-one .inner-box .lower-content .cart-btn button{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 6px 30px;
    transition: all 500ms ease;
}

.shop-block-one .inner-box .lower-content .cart-btn button:hover{
    color: #fff;
}

  
/** rtl-css **/
  
  
/** responsive-css **/
  
@media only screen and (max-width: 1200px){
  
}
  
@media only screen and (max-width: 991px){
    .shop-section .our-shop{
        margin-top: 40px;
    }
}
  
@media only screen and (max-width: 767px){
    .shop-section{
        padding: 70px 0px;
    }
}
  
@media only screen and (max-width: 599px){
  
}
  
@media only screen and (max-width: 499px){

} 