


/*********************************** color ******************************************/

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.scroll-to-top .scroll-bar-text,
.sub-title,
.donate-content .payment-option .payment-list :checked+label,
.donate-content .payment-option .payment-list :checked+label:before,
.banner-carousel .content-box h2 span,
.sec-title h2 span,
.service-block-one .inner-box h3 a:hover,
.cause-block-one .inner-box .lower-content h3 a:hover,
.cause-block-one .inner-box .lower-content .single-item span.amount,
.gallery-block-one .inner-box .content-box .view-btn a:hover,
.feature-block-one .inner-box h3 a:hover,
.funfact-block-one .inner-box .count-outer,
.main-footer .links-list li a:hover,
.main-footer .contact-widget .info-list li a:hover,
.main-footer .contact-widget .info-list li i,
.main-footer .contact-widget .info-list li.phone a,
.footer-bottom p a,
.header-top .top-inner .info-list li a:hover,
.header-top  .social-links li a:hover,
.cause-block-two .inner-box .content-box h4 a:hover,
.cause-block-two .inner-box .content-box .lower-box .list-item li .amount,
.team-block-one .inner-box .content-box h3 a:hover,
.accordion-box .accordion .acc-btn.active h4,
.header-style-three .header-top .social-links li a:hover,
.banner-style-three .content-box h2 span,
.service-block-two .inner-box h3 a:hover,
.cause-block-two .inner-box .content-box h3 a:hover,
.accordion-box .accordion .acc-btn.active .icon-box,
.team-block-two .inner-box .content-box h3 a:hover,
.event-block-one .inner-box .content-box h3 a:hover,
.event-block-one .inner-box .content-box .lower-box .info-list li i,
.news-block-two .inner-box .lower-content .post-info li span,
.news-block-two .inner-box .lower-content h3 a:hover,
.news-block-two .inner-box .lower-content .link-btn a:hover,
.service-block-three .inner-box .icon-box,
.clients-section.home-4 .inner-container h4,
.event-block-two .inner-box .content-box h4 a:hover,
.cause-block-four .inner-box .content-box .lower-box .list-item li span.amount,
.funfact-style-two .single-item .count-outer,
.service-block-four .inner-box h3 a:hover,
.clients-section.home-5 .inner-container h4,
.event-page-section .event-block-one .inner-box .content-box .lower-box .info-list li,
.news-block-two .inner-box .lower-content .location-box,
.event-details-content .content-four .list-item li i,
.event-details-content .content-five .accordion-box .accordion .acc-btn.active .icon-inner,
.team-block-three .inner-box .content-box h4 a:hover,
.team-details-content .content-box .designation,
.team-details-content .content-box .list-item li a:hover,
.cause-details-content .content-one h2 span,
.cause-details-content .content-one .progress-box h4 span,
.default-sidebar .category-widget .category-list li a:hover,
.default-sidebar .download-widget .download-list li button,
.default-sidebar .category-widget .category-list li a.current,
.shop-block-one .inner-box .lower-content h4 a:hover,
.shop-block-one .inner-box .lower-content .price del,
.shop-block-one .inner-box .lower-content .cart-btn button,
.product-details-content .content-box h3,
.product-details-content .other-option li span,
.shop-details .product-discription .tab-btns li.active-btn,
.cart-section .cart-table tbody .product-column .product-box h4 a:hover,
.cart-section .total-cart h5,
.cart-section .total-cart .shipping-calculator .update-btn,
.checkout-section .order-info h4,
.blog-sidebar .post-widget .post-inner .post h5 a:hover,
.blog-sidebar .post-widget .post-inner .post .post-date i,
.blog-sidebar .archive-widget .archives-list li a:hover,
.news-block-two .inner-box  .lower-content h2 a:hover,
.blog-details-content blockquote .icon-box,
.blog-details-content .author-box .designation,
.contact-section .content-box .inner-box .single-item .icon-box,
.contact-section .content-box .inner-box .single-item p a:hover

{
  color: var(--theme-color);
}


/** background **/

button.rtl,
button.ltr,
.chat-popup .close-chat,
.theme-btn.btn-one .text,
.theme-btn i,
.donate-content .donate-option .donate-list :checked+label,
.cause-block-one .inner-box .image-box .bar-inner,
.gallery-block-one .inner-box .image-box,
.theme-btn.btn-two:hover i,
.theme-btn.btn-two .text::before,
.theme-btn.btn-two .text::after,
.chooseus-section .single-item.light-column,
.footer-top,
.main-footer .social-links li a:hover,
.location-section .inner-box .single-location-box .markup::before,
.location-section .inner-box .single-location-box .text,
.location-section .inner-box .single-location-box .text::before,
.main-footer .footer-top-two .top-inner .subscribe-box .form-group button[type='submit'],
.image_block_three .image-box .curve-text,
.content_block_four .content-box .inner-box .list-style-one li::before,
.content_block_four .content-box .tab-btns li.active-btn,
.slide-text .text-inner .text-list li:before,
.team-block-two .inner-box .image-box .image,
.service-block-three:hover .inner-box,
.cause-block-four .inner-box .content-box .lower-box .bar .bar-inner,
.cause-style-five .cause-block-one .inner-box .lower-content .bar .bar-inner,
.cause-style-five .cause-block-one .inner-box .lower-content .bar .bar-inner::before,
.cta-style-two .inner-container,
.fluid-style-two,
.fluid-style-two .left-column .content-box .tab-btns li.active-btn,
.pagination li a:hover,
.pagination li a.current,
.funfact-section.alternat-2,
.event-details-content .content-four .list-item li i,
.event-details-content .content-five .accordion-box .accordion .acc-btn h4 span,
.team-block-three .inner-box .image-box .image,
.team-details-content .content-box .social-links li a:hover,
.team-details .two-column .progress-box .bar .bar-inner,
.cause-details-content .content-one .progress-box .bar .bar-inner,
.cause-details-content .content-one .payment-option li .check-box label:after,
.default-sidebar .search-widget .form-group input:focus + button,
.default-sidebar .search-widget .form-group button:hover,
.default-sidebar .category-widget .category-list li a:hover::before,
.default-sidebar .tags-widget .tags-list li a:hover,
.default-sidebar .category-widget .category-list li a.current::before,
.price-range-slider .ui-slider-range,
.shop-block-one .inner-box .lower-content .cart-btn button:hover,
.product-details-content .content-box .size-list li .check-box input:checked + label,
.product-details-content .other-option li.social-links a:hover,
.cart-section .coupon-box .form-group button,
.cart-section .total-cart .shipping-cost .cost-list li .check-box label:after,
.cart-section .total-cart .shipping-calculator .update-btn:hover,
.check-box-two input:checked + label:before,
.checkout-section .order-info .payment-option .check-box label:after,
.default-sidebar .search-widget .form-group button[type='submit']:hover,
.blog-details-content .post-share-option .tags-list li a:hover,
.contact-section .content-box .inner-box .single-item:hover .icon-box

{
  background: var(--theme-color);
}




/** border-color **/

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu,
.donate-content .form-inner .form-group input:focus,
.content_block_two .content-box .quote-box,
.testimonial-block-two .inner-box,
.header-style-three .menu-right-content .theme-btn .text,
.content_block_four .content-box .inner-box .list-style-one li::before,
.team-details .join-form .form-inner .form-group input:focus,
.team-details .join-form .form-inner .form-group textarea:focus,
.faq-form-section .form-inner .form-group input:focus,
.faq-form-section .form-inner .form-group textarea:focus,
.cause-details-content .content-one .payment-option li .check-box input:checked + label:before,
.cause-details-content form .form-group input:focus,
.cause-details-content form .form-group textarea:focus,
.default-sidebar .tags-widget .tags-list li a:hover,
.shop-block-one .inner-box .lower-content .cart-btn button,
.product-details-content .content-box .color-list li .check-box input:checked + label:after,
.cart-section .total-cart .shipping-cost .cost-list li .check-box input:checked + label:before,
.cart-section .total-cart .shipping-calculator .update-btn,
.checkout-section .billing-content .form-inner .form-group input:focus,
.check-box-two input:checked + label:before,
.checkout-section .order-info .payment-option .check-box input:checked + label:before,
.blog-sidebar .search-widget .form-group input:focus,
.blog-details-content .post-share-option .tags-list li a:hover,
.default-form .form-group input:focus,
.default-form .form-group textarea:focus

{
  border-color: var(--theme-color) !important;
}